/* --------------------- GLOBAL --------------------- */

@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');
@import url(./animations.css);

@font-face {
    font-family: 'Nasalization';
    src: url('../assets/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-title: 'Nasalization';
    --font-text: 'Strait', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    color: #f6f6f6;
    background-image: url(/assets/background.jpg);
    background-size: cover;
}

#content {
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
}

/* --------------------- TEXT CONTENT --------------------- */

.content__container {
    padding-left: 15rem;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    animation: appear 2s ease-in-out 1 forwards;
}

.title {
    font-family: var(--font-title);
    font-size: 9rem;
}

.text {
    font-family: var(--font-text);
    font-size: 2.3rem;
    text-align: justify;
}

.grey__text{
    color: #88898C;
}

/* --------------------- BTN --------------------- */

.btn {
    width: 10rem;
    font-family: var(--font-text);
    font-size: 2.3rem;
    border-radius: 1rem;
    border: none;
    padding: 0.6rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #88898C;
    opacity: 0;
    animation: get-big 1s 1 1s forwards;
}

.btn:hover{
    box-shadow:
        0 0 100px 1px #f0f, /* middle magenta */
        0 0 140px 2px #0ff; /* outer cyan */
    font-size: 2.4rem;
}

.btn:active {
    font-size: 2.6rem;
}

/* --------------------- IMAGE --------------------- */

#astronaut__img{
    width: 21rem;
    transform: scaleX(-1);
}

.image__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60rem;
    width: 21rem;
    align-self: center;
    justify-self: center;
    padding-left: 3rem;
    animation: is-moving 3s ease-in-out infinite alternate, is-comming 1s ease-in-out 1 forwards;
}

.shadow {
    overflow: hidden;
    position: absolute;
    width: 5rem;
    height: 30rem;
    background-color: #f6f6f6;
    top: 13rem;
    border-radius: 50%;
    box-shadow:
        0 0 100px 30px #f0f, /* middle magenta */
        0 0 140px 40px #0ff; /* outer cyan */
}

