#content {
    grid-template-columns: 40% 60%;
}

/* --------------------- IMAGE --------------------- */

.shadow {
    height: 29rem;
    top: 8rem;
}

#astronaut__img__two {
    z-index: 1;
    padding-top: 3rem;
    transform: scaleX(-1);
    justify-self: end;
}

/* --------------------- TEXT CONTENT --------------------- */
.content__container{
    justify-self: start;
    padding: 0;
}

.title {
    font-size: 8rem;
}

.text {
    width: 70rem;
}

/* --------------------- BTN --------------------- */

.btn__container {
    display: flex;
    gap: 5rem;
}